@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 255, 255, 255;
    --bg-primary: 13, 17, 23;
    --bg-secondary: 22, 27, 34;
    --bg-tertiary: 33, 38, 45;
  }
}
